<% include partials/header %>

<div id="header-info" class="container">
  <div class="row">
    <div class="col-lg-6">
      <p>The “Dakota Access” Pipeline (DAPL) is a $3.8B, fracked-oil pipeline currently under construction in North Dakota (USA), crossing the lands of the Standing Rock Sioux Nation. This construction is threatening the water of 18 million people living downstream and is violating the sovereignty of the First Peoples.</p>
    </div>
    <div class="col-lg-6">
      <p>
        You are in Berlin and want to stand in solidarity with Standing Rock against the Dakota Access Pipeline? <!-- a bit bigger, to call the attention -->
        This page is offering you a way to take direct-action and be part of the movement, uplifting <b>indigenous sovereignty</b> and <b>climate justice</b>.
      </p>
    </div>
  </div>
</div>


<div id="content" class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>What we do</h1>
      <p>The <a href="http://www.defunddapl.org/">#deFundDAPL global campaign</a> was initiated by the water protectors at Standing Rock and is taking place throughout the month of December. The goal is to pressure the banks funding the pipeline to terminate their investments and use the allmighty power of money against the system. There are <a href="http://www.foodandwaterwatch.org/news/who's-banking-dakota-access-pipeline" target="_blank">two german financial institutions</a> banking the pipeline: Deutsche Bank and Bayern LB (DKB being the 100% subsidiary company of the Bayern LB). We decided to focus on <b>Deutsche Bank</b> as they have a lot of branches in Berlin and are the biggest investor with <b>275$ million</b>.</p>
      <p>Hence, we are calling for a collective direct-action on <b>MONDAY 5th!</b> The idea is to empower little groups to take direct action, simultaneously throughout the day at different branches of the DB. With this action, the groups will distribute flyers with the 2 goals in mind:
        <ol>
          <li>Inform people about the situation in Standing Rock and convince them that they can do something about it now!</li>
          <li>After talking to the people, ask them to go talk to the bank staff (special flyers will be ready for that) and eventually close their bank accounts, following the <a href="http://www.defunddapl.com/defund">guidelines</a>.</li>
        </ol>
      </p>
    </div>
    <div class="col-lg-6">
      <h1>How to participate?</h1>

      <ol>
        <li>Pick a location and register with your name, contact and setting up a time.</li>
        <li>Contact the other people who registered at the same bank and form a group
          <br /><span class="important">For legal reasons, the limit of the group is 4/5! This has to be taken in account seriously!</span>
        </li>
        <li>Download and print the flyers - <span style="color: red;">DOWNLOAD COMING SOON!</span></li>
        <li>Read the guidelines regarding clothing, attitude and intention. This is a peaceful and a prayerful movement.</li>
      </ol>

      <p><i>Reminder: please do not dress up in 'Native American' clothing or use other tribal symbols (including drumming or chanting) unless it reflects your own heritage and customs.</i></p>
    </div>
  </div>
</div>


<div id="app" class="container">
  <div class="row">
    <div class="col-lg-8 hidden-sm hidden-s hidden-xs">
      <div id="map"></div>
    </div>
    <div class="col-lg-4 col-sm-12" id="branchList">
      <% branches.forEach(function(branch, i){ %>
        <div class="item-list">
          <div class="item-title">
            <%= branch.name %>
          </div>
          <div class="item-info">
            <%= branch.info %>
          </div>
          <div class="item-address">
            <%= branch.address %>
          </div>

          <div class="item-button">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-gutter-right">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#joinModal<%= i %>">
                  Join now!
                </button>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-gutter-left">
                <div class="participants">
                  <%= branch.joins.length %> people going.
                </div>
              </div>
            </div>
          </div>

          <div className="row">
            <hr/>
          </div>

          <div class="modal fade" id="joinModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= branch.name %> </h4>
                </div>
                <div class="modal-body">
                  <div>
                    <p>
                      <%= branch.info %>
                    </p>
                  </div>
                  <div>
                    <p>Opening Hours:
                      <%= branch.openinghours %>
                    </p>
                  </div>
                  <div>
                    <p>Address:
                      <%= branch.address %>
                    </p>
                    <form action="/join/<%= branch._id %>" method="POST">
                      <div class="row">
                        <div class="form-group">
                          <label for="name" class="col-sm-2 control-label">Name<span class="needed">*</span></label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" required="true" name="join[name]" id="name" placeholder="Max M.(Mustermann)">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group">
                          <label for="mail" class="col-sm-2 control-label">Mail<span class="needed">*</span></label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" required="true" name="join[mail]" id="mail" placeholder="mail@mail.de">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group">
                          <label for="note" class="col-sm-2 control-label">note </label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="join[note]" id="note" placeholder="For example I arrive at 14:00">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group">
                          <label for="tel" class="col-sm-2 control-label">phone</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" name="join[phone]" id="phone" placeholder="phone">
                          </div>
                        </div>
                      </div>
                      <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <p class="text-info">All Info entered (except your name and note) is only visible for our Admins </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <div id="afterword" class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="img/stopdapl.jpg" class="img-responsive"/>Art by <a href="http://www.thentvs.com/">theNTVS</a>
          <br /><br />
          <p>
            Take pictures of your group and use the <a href="https://www.facebook.com/groups/1203618013057426/?fref=ts">power of social media</a> and hastags to spread the words! ;)
            <br />
            <br /><a href="https://www.facebook.com/DeFundDAPL/?fref=ts&__mref=message">#deFundDAPL</a> <a href="https://www.facebook.com/hashtag/deFundDAPLBerlin">#deFundDAPLBerlin</a> <a target="_blank" href="https://twitter.com/hashtag/noDAPL">#noDAPL</a> <a target="_blank" href="https://www.facebook.com/StandingWithStandingRock/?fref=ts&__mref=message_bubble">#standwithStandingRock</a>
            <br />#waterislife #mniwiconi #waterprotectors #keepitintheground
            <br />#bankexit #divestdecember #killtheblacksnake #powertothepeople
          </p>
        </div>
        <div class="col-lg-6">
                  <br />
          <p>Greetings from the organizers, Falk and Louise. Special thanks to <a href="https://redhaircrow.com/">Red HairCrow</a> for his continuous guidance; to Karin Louise Hermes for her support with the flyers; big up to Pierre Humberdroz and Thanh Nguyen for programming the whole thing in a couple days!</p>
        </div>
      </div>
    </div>


    </div>

    <script>

    function initMap() {
      var berlin = {lat: 52.52437, lng: 13.41053};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: berlin
      });
      <% branches.forEach(function(branch,i){ %>




        var contentString<%= i %>  = '<div>'+
        '<h1><%= branch.name %> </h1>'+
        '<div>'+
        '<p><%= branch.info %></p>'+
        '</div>'+
        '<div>'+
        '<p>Opening Hours: <%= branch.openinghours %></p>' +
        '</div>'+
        '<div>'+
        '<p>Address: <%= branch.address %></p>'+
        '<form action="/join/<%= branch._id %>" method="POST">'+
        '<div class="row">' +
        '<div class="form-group">'+
        '<label for="name" class="col-sm-2 control-label">Name<span class="needed">*</span></label>'+
        '<div class="col-sm-10">'+
        '<input type="text" class="form-control" required="true" name="join[name]" id="name" placeholder="Max M.(Mustermann)">'+
        '</div>'+
        '</div>'+
        '</div>'+
        '<div class="row">' +
        '<div class="form-group">'+
        '<label for="mail" class="col-sm-2 control-label">Mail<span class="needed">*</span></label>'+
        '<div class="col-sm-10">'+
        '<input type="text" class="form-control" required="true" name="join[mail]" id="mail" placeholder="mail@mail.de">'+
        '</div>'+
        '</div>'+
        '</div>'+
        '<div class="row">' +
        '<div class="form-group">'+
        '<label for="note" class="col-sm-2 control-label">note </label>'+
        '<div class="col-sm-10">'+
        '<input type="text" class="form-control" name="join[note]" id="note" placeholder="For example I arrive at 14:00">'+
        '</div>'+
        '</div>'+
        '</div>'+
        '<div class="row">' +
        '<div class="form-group">'+
        '<label for="phone" class="col-sm-2 control-label">phone</label>'+
        '<div class="col-sm-10">'+
        '<input type="text" class="form-control" name="join[phone]" id="phone" placeholder="phone">'+
        '</div>'+
        '</div>'+
        '</div>'+
        '<div class="pull-right">'+
        '<button type="submit" class="btn btn-primary">Submit</button>'+
        '</div>'+
        '</form>'+
        '<p class="text-info">All Info entered (except your name and note) is only visible for our Admins </p>' +
        '</div>'+
        '</div>';

        var infowindow<%= i %> = new google.maps.InfoWindow({
          content: contentString<%= i %>
        });

        var marker<%= i %> = new google.maps.Marker({
          position: {lat: <%= branch.lat %>, lng: <%= branch.lng %> },
          map: map,
          label: "<%= branch.joins.length %>",
          title: '<%= branch.name %>'
        });
        marker<%= i %>.addListener('click', function() {
          infowindow<%= i %>.open(map, marker<%= i %>);
        });
        <% }); %>

      }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWRyaefy6LW-MM_AZLECnOTPPCFDLK0ZE&signed_in=true&callback=initMap"></script>
      <% include partials/footer %>
